.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.border {
  display: flex;
  justify-content: flex-start;
}

.side-bar {
  padding-top: 50px;
  padding-bottom: 50px;
  border: solid black;
  height: 100%;
  width: 300px;
  
  background-color: grey;
   /* border-top: 1px solid #99CC33;
   border-left: 1px solid #99CC33;
   height: 300px;
   width: 200px;
   margin-right: 5px;
   padding: 5px 0 0 5px; */
   
   
}

.project-card-container {
  border: solid black;
  display: flex;
  justify-content: flex-start;
  padding: 5%;
  background-color:blue;
  width: 80%;
}

.project-card {
  border: solid black;
  background-color: white;
  width: 100%;
}

.project-card-comp h1 {
  border: solid red;
  background-color: grey;
  display: flex;
  justify-content: center;
}

.project-card-comp h2{
  border: solid brown;
}


            

